<footer class="footer section" id="contacts">
  <div class="_container">
    <footer class="footer__inner">
      <div class="footer__content">
        <h3 class="footer__content-title">Contacts</h3>
        <p class="footer__contact-text">Feel free to reach out!</p>
      </div>

      <div class="footer__contacts">
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item footer__contacts-item--email">
            <a
              class="footer__contacts-link"
              href="mailto:zymavladyslav@gmail.com"
              >zymavladyslav@gmail.com</a
            >
          </li>
          <li class="footer__contacts-item footer__contacts-item--linkedin">
            <a
              class="footer__contacts-link"
              href="https:linkedin.com/in/vladyslav-zyma-327547250"
              target="_blank"
              >linkedin.com</a
            >
          </li>
          <li class="footer__contacts-item footer__contacts-item--phone">
            <a class="footer__contacts-link" href="tel:+380734164463"
              >+38 (073) 416 44 63
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</footer>
