<header class="header" id="header">
  <div class="header__box">
    <div class="_container">
      <nav class="header__nav nav">
        <a class="nav__logo logo" href="#header">
          <img class="logo__img" src="./images/logo.png" alt="logo" />
          <p class="logo__text">portfolio</p>
        </a>

        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#about">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#skills">Skills</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#projects">Projects</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Contacts</a>
          </li>
        </ul>

        <button class="mobile-nav-btn">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
</header>
