<section class="projects">
  <div class="_container">
    <div class="projects__box">
      <h2 class="projects__title section-title">projects</h2>

      <div class="projects__items">
        <figure class="projects__project project">
          <div class="project__img-wrapper">
            <picture>
              <source
                type="image/avif"
                srcset="
                  ./images/alivio/alivio.avif    1x,
                  ./images/alivio/alivio@2x.avif 2x
                " />
              <source
                type="image/webp"
                srcset="
                  ./images/alivio/alivio.webp    1x,
                  ./images/alivio/alivio@2x.webp 2x
                " />
              <img
                class="project__img"
                src="./images/alivio/alivio.jpg"
                srcset="./images/alivio/alivio@2x.jpg 2x"
                alt="alivio" />
            </picture>
          </div>

          <figcaption class="project__descr">
            <h3 class="project__title">Alivio</h3>
            <p class="project__text">
              This is a landing page where you can find information how to
              control your stress.
            </p>
          </figcaption>

          <div class="project__skills">
            <ul class="project__skills-list">
              <li class="project__skills-item" title="html">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--html"
                  alt="html" />
              </li>
              <li class="project__skills-item" title="scss">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--scss"
                  alt="scss" />
              </li>
              <li class="project__skills-item" title="JavaScript">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--js"
                  alt="JavaScript" />
              </li>
              <li class="project__skills-item" title="gulp">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--gulp"
                  alt="gulp" />
              </li>
              <li class="project__skills-item" title="webpack">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--webpack"
                  alt="webpack" />
              </li>
            </ul>
          </div>

          <div class="project__links">
            <a
              class="project__link"
              href="https://github.com/VladZyma/pet-Alivio.git"
              target="_blank">
              <img
                class="github-icon"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--github"
                alt="github" />
              Source
            </a>
            <a
              class="project__link"
              href="https://vladzyma.github.io/pet-Alivio/"
              target="_blank">
              <img
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--pc-screen"
                alt="pc" />
              Demo
            </a>
          </div>
        </figure>

        <figure class="projects__project project">
          <div class="project__img-wrapper">
            <picture>
              <source
                type="image/avif"
                srcset="
                  ./images/mntn/mntn.avif    1x,
                  ./images/mntn/mntn@2x.avif 2x
                " />
              <source
                type="image/webp"
                srcset="
                  ./images/mntn/mntn.webp    1x,
                  ./images/mntn/mntn@2x.webp 2x
                " />
              <img
                class="project__img"
                src="./images/mntn/mntn.jpg"
                srcset="./images/mntn/mntn@2x.jpg 2x"
                alt="alivio" />
            </picture>
          </div>

          <figcaption class="project__descr">
            <h3 class="project__title">MNTN</h3>
            <p class="project__text">
              This is a landing page where you can find information how to
              prepare yourself for hiking.
            </p>
          </figcaption>

          <div class="project__skills">
            <ul class="project__skills-list">
              <li class="project__skills-item" title="html">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--html"
                  alt="html" />
              </li>
              <li class="project__skills-item" title="scss">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--scss"
                  alt="scss" />
              </li>
              <li class="project__skills-item" title="JavaScript">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--js"
                  alt="JavaScript" />
              </li>
              <li class="project__skills-item" title="gulp">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--gulp"
                  alt="gulp" />
              </li>
              <li class="project__skills-item" title="webpack">
                <img
                  src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--webpack"
                  alt="webpack" />
              </li>
            </ul>
          </div>

          <div class="project__links">
            <a
              class="project__link"
              href="https://github.com/VladZyma/pet-MNTN.git"
              target="_blank">
              <img
                class="github-icon"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--github"
                alt="github" />
              Source
            </a>
            <a
              class="project__link"
              href="https://vladzyma.github.io/pet-MNTN/"
              target="_blank">
              <img
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--pc-screen"
                alt="pc" />
              Demo
            </a>
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>
