<section class="skills section" id="skills">
  <div class="_container">
    <div class="skills__box">
      <h2 class="skills__title section-title">skills</h2>
      <div class="skills__inner">
        <div class="skills__img">
          <div class="skills__img-box">
            <img
              class="skills__img-element"
              src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--front-end"
              alt="front-end icon" />
          </div>
        </div>

        <div class="skills__items">
          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--html"
                alt="html icon" />
            </div>

            <span class="skills__item-name">HTML</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--css"
                alt="css icon" />
            </div>
            <span class="skills__item-name">CSS</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--scss"
                alt="scss icon" />
            </div>
            <span class="skills__item-name">SCSS</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--js"
                alt="js icon" />
            </div>

            <span class="skills__item-name">JS</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--react"
                alt="react icon" />
            </div>
            <span class="skills__item-name">React</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--node"
                alt="node icon" />
            </div>
            <span class="skills__item-name">Node</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--mongo"
                alt="mongoDB icon" />
            </div>
            <span class="skills__item-name">MongoDB</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--gulp"
                alt="gulp icon" />
            </div>
            <span class="skills__item-name">Gulp</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--webpack"
                alt="webpack icon" />
            </div>
            <span class="skills__item-name">Webpack</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--postman"
                alt="postman icon" />
            </div>
            <span class="skills__item-name">Postman</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--figma"
                alt="figma icon" />
            </div>
            <span class="skills__item-name">Figma</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--photoshop"
                alt="photoshop icon" />
            </div>
            <span class="skills__item-name">PS</span>
          </div>

          <div class="skills__item">
            <div class="skills__item-box">
              <img
                class="skills__item-img"
                src="./images/svgsprite/stack/svg/sprite.stack.svg#icons--github"
                alt="github icon" />
            </div>
            <span class="skills__item-name">Git</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
